<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
    <style>
        input {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Create Product</h1>
    {{if .Error}}
        <div style="color: red;">
            {{.Error}}
        </div>
    {{end}}
    <form action="/products" method="post">
        <label for="name">Enter Product Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="description">Enter Product Description:</label>
        <input type="text" id="description" name="description" required>
        <br>
        <label for="price">Enter Product Price:</label>
        <input type="text" id="price" name="price" required>
        <br>
        <label for="discount">Enter Product Discount:</label>
        <input type="text" id="discount" name="discount" required>
        <br>
        <label for="quantity">Enter Product Quantity:</label>
        <input type="text" id="quantity" name="quantity" required>
        <br>
        <button type="submit">Create</button>
    </form>
<hr>
    <h1>Products List</h1>
    <form action="" method="get">
        <label>Select Your Filter:</label><br><br>
        
        <input type="checkbox" id="electronics" name="filter" value="Electronics">
        <label for="electronics">Electronics</label><br>
        
        <input type="checkbox" id="clothes" name="filter" value="Clothes">
        <label for="clothes">Clothes</label><br>
        
        <input type="checkbox" id="furniture" name="filter" value="Furniture">
        <label for="furniture">Furniture</label><br>
        
        <input type="checkbox" id="accessories" name="filter" value="Accessories">
        <label for="accessories">Accessories</label><br>
        
        <input type="checkbox" id="books" name="filter" value="Books">
        <label for="books">Books</label><br><br>
        <label>Sort Products by Price:</label><br><br>
        <select name="sort" id="sort">
            <option value="0" disabled>Choose Sorting</option>
            <option value="1">Ascending</option>
            <option value="-1">Descending</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    
    <hr>
    {{range .Products}}
        <a href="http://127.0.0.1:8080/products/{{.ID}}">{{.Name}}</a>
        <ul>
            <li>Category: {{.Category}}</li>
            <li>{{.Description}}</li>
            <li>Price: {{.Price}}</li>
            <li>Discount: {{.Discount}}</li>
            <li>Quantity: {{.Quantity}}</li>
        </ul>
    {{end}}

</body>
</html>
